@import '../font-awesome/css/font-awesome';
.BorderLayout {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.BorderLayout > .BorderLayoutNorth {
  display: flex;
}
.BorderLayout > .BorderLayoutWrap {
  flex: 1;
  display: flex;
}
.BorderLayout > .BorderLayoutWrap > .BorderLayoutWest {
  display: flex;
}
.BorderLayout > .BorderLayoutWrap > .BorderLayoutCenter {
  flex: 1;
  display: flex;
}
.BorderLayout > .BorderLayoutWrap > .BorderLayoutEast {
  display: flex;
}
.BorderLayout > .BorderLayoutSouth {
  display: flex;
}
.FullHeightContainer {
  flex: 1;
  min-height: 100vh;
  display: flex;
}
.SplitLayout {
  flex: 1;
  display: flex;
}
.SplitLayout.vertical {
  flex-direction: column;
}
.SplitLayout.horizontal {
  flex-direction: row;
}
.SplitLayout > .SplitLayoutArea {
  flex: 1;
  display: flex;
}
.FlowLayout {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.FlowLayout.vertical {
  flex-direction: column;
}
.FlowLayout.horizontal {
  flex-direction: row;
}
.FlowLayout > .FlowLayoutArea {
  display: flex;
  align-items: center;
}
.FlowLayout.fill > .FlowLayoutArea {
  flex: auto;
}
.Container {
  flex: 1;
  display: flex;
}
.Button {
  display: flex;
}
.Button.vertical {
  flex-direction: column;
}
.Button.horizontal {
  flex-direction: row;
}
.Paper {
  background-color: #fafafa;
}
.Paper .Button {
  font-family: sans-serif;
  font-size: 16px;
  border: 0;
  outline: 0;
  padding: 0;
  border-radius: 2px;
  margin: 5px;
  text-decoration: none;
  background-color: #fafafa;
  transition: 0.2s all;
  transition-timing-function: cubic-bezier(0.3,1.0,0.3,1.0);
  position: relative;
}
.Paper .Button:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,rgba(0,0,0,0.2) 20%,transparent 21%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0.0;
  transition: transform 1s, opacity 1s;
}
.Paper .Button:active:after {
  transform: scale(0,0);
  opacity: 1.0;
  transition: 0s;
}
.Paper .Button > .ButtonIcon {
  padding: 10px;
}
.Paper .Button > .ButtonLabel {
  padding: 10px;
}
.Paper .Button.vertical > .ButtonIcon + .ButtonLabel {
  padding-top: 0px;
}
.Paper .Button.horizontal > .ButtonIcon + .ButtonLabel {
  padding-left: 0px;
}
.Paper .Button.big > .ButtonIcon {
  padding: 20px;
}
.Paper .Button.big > .ButtonLabel {
  padding: 20px;
}
.Paper .Button.big.vertical > .ButtonIcon + .ButtonLabel {
  padding-top: 0px;
}
.Paper .Button.big.horizontal > .ButtonIcon + .ButtonLabel {
  padding-left: 0px;
}
.Paper .Button.floating {
  box-shadow: 0 2px 6px rgba(0,0,0,0.094280904158206), 0 1.5px 2px rgba(0,0,0,0.067343502970147);
}
.Paper .Button.floating:hover {
  box-shadow: 0 12px 36px rgba(0,0,0,0.23094010767585), 0 9px 12px rgba(0,0,0,0.16495721976846);
}
.Paper .Button:not(.floating):before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: inherit;
  top: 0;
  left: 0;
  transition: 0.2s all;
  transition-timing-function: cubic-bezier(0.3,1.0,0.3,1.0);
}
.Paper .Button:not(.floating):hover:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  border-radius: inherit;
  top: 0;
  left: 0;
  transition: 0.2s all;
  transition-timing-function: cubic-bezier(0.3,1.0,0.3,1.0);
}
html {
  font-family: sans-serif;
  font-size: 16px;
}
body {
  margin: 0;
  display: flex;
}
body * {
  position: relative;
}
body.debug div {
  outline: 1px solid #e91e63;
}
body.debug.all *:not(div) {
  outline: 1px solid #4caf50;
}
